{% load static %}
<head>

<link rel=stylesheet href="{% static "InventoryManagementSystem/dropdown.css" %}">
<script src="{% static "InventoryManagementSystem/newIngredient.js" %}" alt="newIngredient.js"></script>


</head>
<body>

Ingredient Name<input type="text" id="ingredient_name"><br>
Unit<input type="text" id="unit"><br>
<button onclick=addIngredient()>Add Ingredient</button>




