<table style='border: 1px solid black;'>
<tr style='border: 1px solid black;'>
    <td style='border: 1px solid black;'>
    Name:
    </td>

    <td style='border: 1px solid black;'>
    Steps
    </td>

    </tr>
{% for recipe in recipe_list %}
    <tr style='border: 1px solid black;'>

    <td style='border: 1px solid black;'>
    {{ recipe.dish_name }}
    </td>

    <td style='border: 1px solid black;'>
    {{recipe.precedure}}
    </td>
    </tr>
{% endfor %}
</table>
