
<table style='border: 1px solid black;'>
<tr style='border: 1px solid black;'>
    <td style='border: 1px solid black;'>
    Time
    </td>
    <td style='border: 1px solid black;'>
    Name
    </td>
    <td style='border: 1px solid black;'>
    Dish
    </td>
    <td style='border: 1px solid black;'>
    Qty
    </td>
    <td style='border: 1px solid black;'>
    Note
    </td>

    </tr>
{% for order in order_list %}
    <tr style='border: 1px solid black;'>
    <td style='border: 1px solid black;'>
        {{ order.order_time }}
    </td>
    <td style='border: 1px solid black;'>
        {{ order.customer_name }}
    </td>
    <td style='border: 1px solid black;'>
        {{ order.dish_name }}
    </td>
    <td style='border: 1px solid black;'>
        {{ order.amount_ordered }}
    </td>
    <td style='border: 1px solid black;'>
        {{ order.note }}
    </td>
    
    
    </tr>
{% endfor %}
</table>
