

{% load static %}
<head>

<link rel=stylesheet href="{% static "InventoryManagementSystem/dropdown.css" %}">
<script src="{% static "InventoryManagementSystem/dropdown.js" %}" alt="dropdown.js"></script>
<script src="{% static "InventoryManagementSystem/AddOrder.js" %}" alt="AddOrder.js"></script>

</head>
<body>
Customer Name<input type="text" id="name"><br>
<ul class="orderList">
</ul>
<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Click to Choose dish</button>
  <div id="Recipe" class="dropdown-content">
  {% for recipe in recipe_list %}
      <div onclick=selectDishName("{{recipe.dish_html}}")>{{recipe.dish_name}}</div>
  {% endfor %}
  </div>
</div>


<div id="selectedDish"></div>
</body>
<br>
qty<input type="number" min="1" max="15" id="qty">
note<input type="text" id="note">
<button onclick="addOrder()">+</button>

<br>
<br>

<table id="orderTable" border="solid">
<tr>
<td>
dish
</td>
<td>
qty
</td>
<td>
note
</td>
</tr>
</table>




<br>
<button onclick="submitOrder()">Submit Order</button>
